/* google font */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Manrope:wght@400;500&family=Poppins:wght@300;400;500;600&display=swap');

/* common style */

body {
    font-family: 'Poppins', sans-serif;
}

.accordion {
    font-family: 'Inter', sans-serif;
}

footer {
    font-family: 'Manrope', sans-serif;
}

a {
    text-decoration: none;
    color: #E76F51;
}

a:hover {
    color: #FFFFFF;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

/* custom background color */

.honda-bg-header {
    background-color: #264653;
}

.honda-bg-body {
    background-color: #E5E5E5;
}

.honda-bg-alert {
    background-color: #E77C40;
}

.honda-bg-warning {
    background-color: #E76F51;
}

.honda-bg-footer {
    background-color: #0B0D17;
}

/* custom image and icon size */

.honda-img-icon {
    width: 149px;
    height: 149px;
}

.honda-img-footer-icon {
    width: 100px;
    border: 1px solid #E76F51;
    border-radius: 4px;
}

.honda-img-footer-icon:hover {
    border: 1px solid #FFFFFF;
}

/* grayscale image and image color */

.honda-img-gray {
    filter: grayscale(75%);
}

.honda-img-hue {
    filter: hue-rotate(150deg);
}

/* custom text color */

.honda-text-primary {
    color: #23A6F0;
}

.honda-text-alert {
    color: #E77C40;
}

.honda-text-warning {
    color: #E76F51;
}

.honda-text-dark {
    color: #383838;
}

.honda-text-fade {
    color: #7E848C;
}

/* custom button */

.honda-btn {
    color: #FFFFFF;
    background-color: #E76F51;
}

.honda-btn:hover {
    color: #E76F51;
    background-color: #FFFFFF;
    border: 1px solid #E76F51;
}

/* rating icon style */

.fa-star {
    color: #E77C40;
}
