/* google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Manrope:wght@400;500&family=Poppins:wght@300;400;500;600&display=swap');

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Manrope', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.honda-bg-header {
    background-color: #264653;
}

.honda-bg-body {
    background-color: #E5E5E5;
}

.honda-img-icon {
    width: 149px;
    height: 149px;
}

.honda-img-gray {
    filter: grayscale(75%);
}

.honda-img-hue {
    filter: hue-rotate(150deg);
}

.honda-text-primary {
    color: #23A6F0;
}

.honda-text-alert {
    color: #E77C40;
}

.honda-bg-alert {
    background-color: #E77C40;
}

.honda-text-danger {
    color: #E76F51;
}

.honda-text-dark {
    color: #383838;
}

.fa-star {
    color: #E77C40;
}